body {
   margin: 0;
   font-family: sans-serif;
   padding: 0;
   
}
.wrapper {
   display: grid;
   grid-template-columns: 45% 45%;
   grid-gap: 3%;
  justify-content: center;
}
#opschrijfboek {
   display: grid;
   grid-template-columns: 70% 30%;
   padding: 0;
}
h1 {
   margin: 0;
}
.opschrijf-info {
   padding: 50px 20px;
}
input {
   float: right;
   margin-top: -50px;
}
.bewerking {
   margin-top: -35px;
   float: right;
}

header {
   background: aliceblue;
   padding: 60px 60px 40px;
   margin-bottom: 40px;

}

header input {
   height: 2em;
   line-height: 2em;
   padding: 1em;
}

main {
   color: LightSeaGreen;
}

.onder {
   margin-top: 300px;
   margin-left: 40px;
   background-color: aqua;
   padding: 20px;
   margin-right: 40px;
}
section {
   background: aliceblue;
   padding: 20px;
  
 
}

.spijker {
   float: right;
   margin-top: -260px;
   margin-right: 100px;
}

section img {
   max-width: 100%;
}
#deco {
   grid-row: span 2;
   justify-content: center;
   padding: 0;
}



#validatie {
   text-align: right;
}
